[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "wooldridge"]
	path = wooldridge
	url = https://github.com/justinmshea/wooldridge
